// Font-Colors
$copyText: #ffffff;

// Gradiant-Colors
$pink: #ffffff;
$pinkPurple: #ffffff;
$purple: #ffffff;
$dark1: #232838;
$dark2: #151B30;

// Gradiants:
$purpleGradiant: linear-gradient(225deg, $pink, $pinkPurple, $purple);
$darkGradiant: linear-gradient(225deg, $dark1, $dark2);
