# Google Calendar
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_API_KEY=

# Todoist
VITE_TODOIST_TOKEN=

# Strava
VITE_STRAVA_CLIENT_ID=
VITE_STRAVA_CLIENT_SECRET=
VITE_STRAVA_REFRESH_TOKEN=

# Garmin (niemals committen!)
VITE_GARMIN_EMAIL=
VITE_GARMIN_PASSWORD=
